@model ErrorViewModel
@{
    ViewData["Title"] = Model?.Titulo ?? "Ocorreu um erro";
}

@{
    if (Model is null)
    {
        <div>
            <h2>Ooops! Ocorreu um erro, mas não se preocupe. Nosso time será avisado e iremos corrigir em breve!</h2>
        </div>
    }
    else
    {
        <div>
            <h2>@Html.Raw(Model.Mensagem)</h2>
        </div>
    }
}
